<div class="layui-fluid layui-anim admin-anim" id="admin-plumber" lay-title="plumber实例">
    <div class="layui-row admin-container">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body admin-table-full">
                    <form class="layui-form layui-table-form" lay-filter="plumber-table-form">
                        <div class="layui-row">
                            <!--查询框-->
                            <div class="layui-col-md10">
                                <div class="layui-form-item">

                                </div>
                            </div>
                            <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">

                                <!--下拉菜单-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more"
                                     shiro:hasAnyPermissions="plumber:add">
                                    <i class="layui-icon">&#xe875;</i>
                                </div>
                                <!--刷新-->
                                <div class="layui-btn layui-btn-sm layui-btn-primary table-action" id="reset">
                                    <i class="layui-icon">&#xe79b;</i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table lay-filter="plumberTable" lay-data="{id: 'plumber'}"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--操作框-->
<script type="text/html" id="plumber-option">
    <span shiro:lacksPermission="plumber:update,plumber:delete">
        <span class="layui-badge-dot admin-bg-orange"></span> 无权限
    </span>

    <a lay-event="edit" shiro:hasPermission="plumber:update">
        <i class="layui-icon admin-edit-area admin-blue" title="编辑">&#xe7a4;</i></a>

    <a lay-event="delete" shiro:hasPermission="plumber:delete">
        <i class="layui-icon admin-edit-area admin-red" title="删除">&#xe7f9;</i></a>

    <a lay-event="publish" shiro:hasPermission="plumber:publish">
        <i class="layui-icon admin-edit-area admin-blue" title="发布">&#xe865;</i></a>

    <a lay-event="run" shiro:hasPermission="plumber:run">
        <i class="layui-icon admin-edit-area admin-blue" title="运行">&#xe78b;</i></a>

    <a lay-event="stop" shiro:hasPermission="plumber:stop">
        <i class="layui-icon admin-edit-area admin-red" title="停止">&#xe792;</i></a>

</script>
<script type="text/html" id="plumber-run-status">
    {{#
    var type = {
    'run': {title: '运行', color: 'green'},
    'stop': {title: '停止', color: 'green'},
    'publish': {title: '已发布', color: 'green'},
    'no-publish': {title: '未发布', color: 'green'}
    }[d.runStatus];
    }}
    <span class="layui-badge admin-tag-{{type.color}}">{{ type.title }}</span>
</script>
<script type="text/html" id="plumber-status">
    {{#
    var type = {
    1: {title: '启用', color: 'green'},
    0: {title: '禁用', color: 'volcano'},
    }[d.status];
    }}
    <span class="layui-badge admin-tag-{{type.color}}">{{ type.title }}</span>
</script>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'admin'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            admin = layui.admin,
            form = layui.form,
            table = layui.table,
            dropdown = layui.dropdown,
            $view = $('#admin-plumber'),
            tableIns;

        form.render();

        initTable();

        function initTable() {
            tableIns = admin.table.init({
                elem: $view.find('table'),
                id: 'plumberTable',
                url: ctx + 'plumber/list',
                cols: [[
                    {field: 'name', title: '名称'},
                    {field: 'sourceHost', title: '来源库'},
                    {field: 'targetHost', title: '目标库'},
                    {field: 'lastRun', title: '最后运行时间'},
                    {field: 'createTime', title: '创建时间'},
                    {title: '状态', templet: '#plumber-status', width: 100},
                    {title: '运行状态', templet: '#plumber-run-status', width: 100},
                    {title: '操作', toolbar: '#plumber-option', minWidth: 200}
                ]],
                parseData: function (res) {
                    var data = res.data.rows;
                    data.forEach(function (obj, index) {
                        obj.sourceHost = obj.source.host;
                        obj.targetHost = obj.target.host;
                    });
                    return {
                        "code": res.code === 200 ? 0 : res.code,
                        "count": res.data.total,
                        "data": data
                    };
                }
            });
        }

        dropdown.render({
            elem: $view.find('.action-more'),
            click: function (name, elem, event) {

            },
            options: [{
                name: 'add',
                title: '新增',
                perms: 'plumber:add'
            }],
            click: function (name, elem, event) {
                if (name === 'add') {
                    admin.modal.open('新增Plumber实例', 'plumber/add', {
                        btn: ['提交', '重置'],
                        area: $(window).width() <= 750 ? '95%' : '50%',
                        yes: function (index, layero) {
                            $('#plumber-add').find('#submit').trigger('click');
                        },
                        btn2: function () {
                            $('#plumber-add').find('#reset').trigger('click');
                            return false;
                        }
                    });
                }
            }
        });

        table.on('tool(plumberTable)', function (obj) {
            var data = obj.data,
                layEvent = obj.event;
            if (layEvent === 'publish') {
                admin.modal.confirm('发布实例', '是否发布该实例', function () {
                    admin.get(ctx + 'plumber/' + data.id + '/publish', null, function () {
                        admin.alert.success('发布成功');
                        $("#reset").click();
                    });
                });
            }
            if (layEvent === 'run') {
                admin.modal.confirm('启动实例', '是否启动该实例', function () {
                    admin.get(ctx + 'plumber/' + data.id + '/run', null, function () {
                        admin.alert.success('启动成功');
                        $("#reset").click();
                    });
                });
            }
            if (layEvent === 'stop') {
                admin.modal.confirm('停止实例', '是否停止该实例', function () {
                    admin.get(ctx + 'plumber/' + data.id + '/stop', null, function () {
                        admin.alert.success('停止成功');
                        $("#reset").click();
                    });
                });
            }
            if (layEvent === 'delete') {
                admin.modal.confirm('删除实例', '是否删除该实例，此操作会删除相关所有信息！', function () {
                    admin.get(ctx + 'plumber/' + data.id + '/delete', null, function () {
                        admin.alert.success('删除成功');
                        $("#reset").click();
                    });
                });
            }
            if (layEvent === 'edit') {
                admin.modal.open('编辑Plumber实例', 'plumber/' + data.id + '/update', {
                    area: $(window).width() <= 750 ? '95%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#plumber-update').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.closeAll();
                    }
                });
            }
        });
        $("#reset").on('click', function () {
            tableIns.reload({page: {curr: 1}});
        });
    })
</script>