<style>
    #admin-components-others .layui-card-header {
        font-weight: 600;
    }

    #admin-components-others p {
        margin-bottom: 10px
    }
    #admin-components-others .layui-badge {
        line-height: 20px;
        margin: .25rem .5rem .25rem 0;
    }
    #admin-components-others .alert {
        margin-bottom: .75rem;
    }
</style>
<div class="layui-fluid layui-anim admin-anim" id="admin-components-others" lay-title="其他组件">
    <div class="layui-row layui-col-space8 admin-container">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Tag标签</div>
                <div class="layui-card-body">
                    <p>样式一</p>
                    <div>
                        <span class="layui-badge admin-tag-green">admin-tag-green</span>
                        <span class="layui-badge admin-tag-magenta">admin-tag-magenta</span>
                        <span class="layui-badge admin-tag-orange">admin-tag-orange</span>
                        <span class="layui-badge admin-tag-red">admin-tag-red</span>
                        <span class="layui-badge admin-tag-volcano">admin-tag-volcano</span>
                        <span class="layui-badge admin-tag-gold">admin-tag-gold</span>
                        <span class="layui-badge admin-tag-lime">admin-tag-lime</span>
                        <span class="layui-badge admin-tag-cyan">admin-tag-cyan</span>
                        <span class="layui-badge admin-tag-blue">admin-tag-blue</span>
                        <span class="layui-badge admin-tag-geekblue">admin-tag-geekblue</span>
                        <span class="layui-badge admin-tag-purple">admin-tag-purple</span>
                    </div>
                    <p>样式二</p>
                    <div>
                        <span class="layui-badge admin-bg-green">.admin-bg-green</span>
                        <span class="layui-badge admin-bg-magenta">admin-bg-magenta</span>
                        <span class="layui-badge admin-bg-orange">admin-bg-orange</span>
                        <span class="layui-badge admin-bg-red">admin-bg-red</span>
                        <span class="layui-badge admin-bg-volcano">admin-bg-volcano</span>
                        <span class="layui-badge admin-bg-gold">admin-bg-gold</span>
                        <span class="layui-badge admin-bg-lime">admin-bg-lime</span>
                        <span class="layui-badge admin-bg-cyan">admin-bg-cyan</span>
                        <span class="layui-badge admin-bg-blue">admin-bg-blue</span>
                        <span class="layui-badge admin-bg-geekblue">admin-bg-geekblue</span>
                        <span class="layui-badge admin-bg-purple">admin-bg-purple</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">Alert告警提示</div>
                <div class="layui-card-body">
                    <div class="alert">
                        <span class="admin-alert-base admin-alert-success">Success Tips</span>
                    </div>
                    <div class="alert">
                        <span class="admin-alert-base admin-alert-info">Informational Notes</span>
                    </div>
                    <div class="alert">
                        <span class="admin-alert-base admin-alert-warn">Warning Message</span>
                    </div>
                    <div class="alert">
                        <span class="admin-alert-base admin-alert-error">Error Message</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>