<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebaibai.admin.plumber.mapper.ColumnKeyMapper">

    <resultMap id="columnKey" type="com.hebaibai.admin.plumber.entity.ColumnKey">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="data_mapping_id" jdbcType="INTEGER" property="dataMappingId"/>
        <result column="key_name" jdbcType="VARCHAR" property="keyName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="mark" jdbcType="VARCHAR" property="mark"/>
    </resultMap>
</mapper>
