<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hebaibai.admin.plumber.mapper.PlumberMapper">

    <resultMap id="plumber" type="com.hebaibai.admin.plumber.entity.Plumber">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="data_source_id" jdbcType="INTEGER" property="dataSourceId"/>
        <result column="data_target_id" jdbcType="INTEGER" property="dataTargetId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="last_run" jdbcType="TIMESTAMP" property="lastRun"/>
    </resultMap>
</mapper>
